body, html {
	margin: 0;
}

canvas {
	padding: 0;
	margin: 0;
	display: block;
	image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
	image-rendering: crisp-edges;
	position: absolute;
}

#container {
	margin: 1em auto;
}

@font-face {
	font-family: 'charybdis';
	src: url('../fonts/charybdis.ttf');
}